{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
          <div class="card col-10 offset-1">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <table class="table-bordered">
                            <tr>
                                <td>
                                     <p> <strong> Nom: </strong> {{etudiant.etudiant.nom}} </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> <strong> Matricule: </strong> XXXXXXXXXX</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> <strong> Filiere: </strong> {{etudiant.filiere.nom}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <p> <strong> Classe: </strong> {{etudiant.niveau.nom}}</p>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!--/col-->
                    <div class="col">
                        <img src="{{asset('images/logo1.jfif')}}" alt="Logo" srcset="" >
                    </div>
                    <!--/col-->
                    <div class="col">
                        <table class="table-bordered">
                            <tr>
                                <td>
                                     <p> <strong> Nom: </strong> {{etudiant.etudiant.nom}} </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> <strong> Matricule: </strong> XXXXXXXXXX</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> <strong> Filiere: </strong> {{etudiant.filiere.nom}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <p> <strong> Classe: </strong> {{etudiant.niveau.nom}}</p>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!--/col-->
                </div>
            </div>
            <div class="card-body p-0" style="height: 390px;" >
                <div class="row">
                    <div class="col-12">
                        <table class="table table-head-fixed text-nowrap table-bordered">
                            <tr>
                                <td>Semestre</td>
                                <td>Matiere</td>
                                <td>Note</td>
                                <td>Credit</td>
                                <td>Total</td>
                            </tr>
                            {% for row in matieres %}
                            <tr>
                                <td>{{row.semestre.nom}}</td>
                                <td>{{row.ue.matiere.nom}}</td>
                                <td>{{row.moyenne}}</td>
                                <td>3</td>
                                <td>50/60</td>
                            </tr>
                            {% endfor %}
                            
                        </table>
                    </div>
                    <!--/col-->
                    {# <div class="col">
                        <table class="table table-head-fixed text-nowrap table-bordered">
                            <tr>
                                {% for row in notes %}
                                    <td>{{row.inscription.etudiant.nom}}</td>
                                {% endfor %}
                                {% for row in notes %}
                                    <td>{{row.moyenne}}</td>
                                {% endfor %}
                            </tr>
                        </table>
                    </div> #}
                </div>
                <!--/row-->
            
            </div>
            <div class="card-footer"><p class="h5">Pied de Page ...</p></div>
          </div>
          <!--/card-->
        </section>
    </div>
{% endblock %}
