{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
        
          <div class="card col-10 offset-1">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <table class="table-bordered">
                            <tr>
                                <td>
                                     Republique du cameroun
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Paix-Travail-Patrie
                                </td>
                            </tr>
                            
                        </table>

                    </div>
                    <!--/col-->
                    <div class="col">
                        <img src="{{asset('images/logo1.jfif')}}" alt="Logo" srcset="" >
                    </div>
                    <!--/col-->
                    <div class="col">
                        <table class="table-bordered">
                            <tr>
                                <td>
                                     <p> <strong> Nom: </strong> {{note.etudiant}} </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {# <p> <strong> Filiere: </strong> {{note.inscription.filiere.nom}}</p> #}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     {# <p> <strong> Classe: </strong> {{note.inscription.niveau.nom}}</p> #}
                                </td>
                            </tr>
                        </table>

                    </div>
                    <!--/col-->
                </div>
            </div>
            <div class="card-body p-0" style="height: 390px;" >
                <div class="row">
                    <div class="col-12">
                        <table class="table table-head-fixed text-nowrap table-bordered">
                            <tr>
                                <td>Semestre</td>
                                <td>Matiere</td>
                                <td>Note</td>
                                <td>Credit</td>
                                <td>Total</td>
                            </tr>
                             {% for note in notes %}
                            <tr>
                                <td>{{note.semestre}}</td>
                                <td>{{note.matiere}}</td>
                                <td>{{note.moyenne}}</td>
                                <td>3</td>
                                <td>50/60</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    
                </div>
                <!--/row-->
            
            </div>
            <div class="card-footer"><p class="h5">Pied de Page ...</p></div>
          </div>
          <!--/card-->
          
        </section>
    </div>
{% endblock %}
