{% extends 'base.html.twig' %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <br>

            <div class="row">
                <div class="col-md-9 offset-1">
                    <div class="card ">
                        {% if app.session.get('filiere') and app.session.get('niveau') and 
                        app.session.get('semestre') %}
                        <a href="{{path('notes_etudiant')}}">Liste des notes</a>
                        {% endif %}

                        <div class="card-body table-responsive p-0" style="height: 500px;">

                            <table class="table table-head-fixed text-nowrap">
                                <form action="{{ path('matieres_session_fns') }}" method="post">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select name="filiere" id="" class="form-control">
                                                <option value="">Choisir Filiere...</option>
                                                {% for filiere in filieres %}
                                                <option value="{{ filiere.id }}">{{ filiere.nom }}</option>
                                                {% else %}
                                                <option value="">Tableau vide...</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!--/col -->
                                        <div class="col-md-3">
                                            <select name="niveau" id="" class="form-control">
                                                <option value="">Choisir Niveau...</option>
                                                {% for niveau in niveaux %}
                                                <option value="{{ niveau.id }}">{{ niveau.nom }}</option>
                                                {% else %}
                                                <option value="">Tableau vide...</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!--/col -->
                                        <div class="col-md-3">
                                            <select name="semestre" id="" class="form-control">
                                                <option value="">Choisir Semestre...</option>
                                                {% for semestre in semestres %}
                                                <option value="{{ semestre.id }}">{{ semestre.nom }}</option>
                                                {% else %}
                                                <option value="">Tableau vide...</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!--/col -->
                                        <div class="col-md-2">
                                            <button name="notes_new_form" value="notes_new_form" 
                                            class="btn btn-default" type="submit">Choisir</button>
                                        </div>
                                        <!--/col -->
                                    </div>
                                    <!--/row -->
                                </form>
                                <br>

                            </table>

                            {% if app.session.get('filiere') and app.session.get('niveau') and 
                            app.session.get('semestre') %}
                            <table class="table table-bordered">
                                <tr>
                                    <td>T</td>
                                    <td>Etudiant</td>
                                    <td>T</td>
                                    <td>Matiere</td>
                                    <td>Note</td>

                                </tr>

                                <form method="post" action="{{path('notes_new_save')}}">
                                    {% for item in etudiants_et_matieres %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="inscription[]" value="{{item.idI}}" required
                                                checked>
                                        </td>
                                        <td>
                                            {{item.nomE}} <input type="hidden" name="etudiant[]" value="{{item.idI}}">
                                        </td>
                                        <td>
                                            <input type="checkbox" name="cours[]" value="{{item.idC}}" required checked>
                                        </td>
                                        <td>
                                            {{item.nomM}}
                                        </td>
                                        <td>
                                            <input type="text" name="moyenne[]" id="" class='form-control'
                                                placeholder='Moyenne' required>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan='5'>Liste vide ...</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan='5'>
                                            <div class="form-group">
                                                <button type="submit" name='enregistrer'
                                                    class='btn btn-success col-4 offset-4'>Enregistrer</button>
                                            </div>
                                        </td>
                                    </tr>
                                </form>

                            </table>
                            {% else %}

                            {% endif %}

                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
</div>
</section>
</div>
{% endblock %}