<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gestion des Notes| Connexion</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../template/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../template/dist/css/adminlte.min.css">
  <style>
    .login-box{
        position: relative;
        bottom: 10%;
    }
  </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>Gestion des Notes</b>Universitaires</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    {% if error %}
        <div class="alert alert-danger">{{ "Ces informations sont incorrectes!"}}</div>
    {% endif %}

    <div class="card-body login-card-body">
        {% if app.user %}
            <div class="mb-4">
                <p class="login-box-msg">Vous êtes connectés en tant que {{app.user.username}}
                , <a href="{{ path('app_logout') }}">Se déconnecter</a></p>
            </div>
        {% else %}
            <div class="mb-4">
                <p class="login-box-msg">Connectez-vous pour démarer votre session</p>
            </div>
        {% endif %}

      <form action="" method="post">
        <div class="input-group mb-3">
          <input type="email"  value="{{ last_username }}" name="email" placeholder="Email" class="form-control" autocomplete="email" required autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <div class="row">
          {# <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Ce souvenir de moi
              </label>
            </div>
          </div> #}
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      {# <div class="social-auth-links text-center mb-3">
        <p>- OU -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Se connecter avec Facebook
        </a>
        <a href="#" class="btn btn-block btn-warning">
          <i class="fab fa-google mr-2"></i> Se connecter avec Google
        </a>
      </div> #}
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">J'ai oublié mon mot de passe</a>
      </p>
      <p class="mb-0">
        <a href="{{path('app_register')}}" class="text-center">Je n'ai pas de compte</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->


</body>
</html>
