<title> Register</title>

<link rel="stylesheet" href="template/dist/css/adminlte.min.css">

<style>
    {# .card{
        background:yellow;
         position:relative ;
          top:55px;
    } #}
body {
    background: rgb(243, 122, 45);
    position: relative;
    top: 55px;
}

</style>

{% block body %}


<form method="post">

    <div class="col-md-5 offset-3">
    
        <div class="card">

            <div class="card-header">
                <h5 class=" mb-3 font-weight-normal">Connectez-vous <strong>ou</strong> 
                <a href="{{path('app_register')}}">Creer un compte</a>
                </h5>
            </div>
        
            <div class="card-body">
            

                {% if error %}
                    <div class="alert alert-danger">{{ "Ces informations sont incorrectes!"}}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                    Vous êtes connectés en tant que {{app.user.username}}
                    , <a href="{{ path('app_logout') }}">Se déconnecter</a>

                    </div>
                {% endif %}

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <br>
                <button class="btn btn-lg btn-warning col-12" type="submit">
                    Se connecter
                </button>
            </div>
            <!-- card-body-->
        
        </div>
        <!-- /card-->
    </div>
    <!-- /col-->

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endblock %}
