{% extends 'base.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-md-12">
              <a href="{{path('etudiants_ajout')}}"  class="btn btn-primary">Ajouter <i class="fa fa-plus"></i></a> 
              <a href="{{path('etudiants_i')}}"  class="btn btn-primary">Inscrire <i class="fa fa-pen"></i></a> 
              <a href="{{path('etudiants_liste_Inscriptions')}}"  class="btn btn-primary">Rechercher<i class="fa fa-users"></i></a> 
              {# <a href="{{path('notes_etudiants_choixFiliereNiveauxSemestreNouvelleNote')}}"  class="btn btn-primary">Notes <i class="fa fa-pen"></i></a> 
              <a href="{{path('notes_etudiants_choixFiliereEtNiveau_listeNotes')}}"  class="btn btn-primary">Notes <i class="fa fa-th"></i></a>  #}
                <div class="card ">
                    <div class="card-body table-responsive p-0" style="height: 400px;">
                        <table class="table table-bordered table-head-fixed text-nowrap">

                        </p>
                    
                            <tr>
                                <th>ID</th>
                                <th style="width:11%;">Action</th>
                                <th >Etudiants</th>
                            </tr>
                            {% for etudiant in etudiants %}
                            <tr>
                                <td >{{etudiant.id}}</td>
                                <td>
                                <a href="{{path('etudiants_suppression',{id:etudiant.id})}}"  class="btn btn-warning"><i class="fa fa-times"></i></a>
                                <a href="{{path('etudiants_suppression',{id:etudiant.id})}}"  class="btn btn-info"><i class="fa fa-edit"></i></a>
                                </td>
                                {% if etudiant.filiere and etudiant.niveau  %}
                                <td>
                                <strong>Nom: </strong> {{etudiant.nom}} , <strong>Prenom: </strong> {{etudiant.prenom}} , <strong>Sexe: </strong> {{etudiant.sexe}} , <strong>Filiere: </strong> {{etudiant.sigle}} , <strong>Classe: </strong>  {{etudiant.nomN}}
                                </td>
                                {% else %}
                                <td>
                                    <strong>Nom: </strong> {{etudiant.nom}} , <strong>Prenom: </strong> {{etudiant.prenom}} , <strong>Sexe: </strong> {{etudiant.sexe}} , <span class="btn btn-primary  offset-2"> Pas inscrit</span>
                                </td>
                                {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                            <td colspan="5">Aucune donnée recente !</td>
                            </tr>
                            {% endfor %}
                        
                        </table>
                    </div>
                </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block javascripts %}
  <script src=""></script>
{% endblock %}


