{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div
                class="container-fluid">
                <!-- Info boxes --> <br>

                <div class="row">
                    <div class="col-md-8 offset-2">
                        <div class="card ">
                            <h5 class="offset-2">Selectionnez un ou plusieurs Etudiants...</h5>

                            <div class="card-body table-responsive p-0" style="height: 400px;">

                                <table class="table table-head-fixed text-nowrap">
                                    <form action="{{path('porte_inscription_etudiant_traitement')}}" method="post">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <select name="filiere" id="" class="form-control">
                                                    <option value="">Choisir Filiere...</option>
                                                    {% for filiere in filieres %}
                                                         <option value="{{filiere.id}}">{{filiere.nom}}</option>
                                                    {% else %}
                                                        <option value="">Tableau vide...</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!--/col -->
                                            <div class="col-md-5">
                                                <select name="niveau" id="" class="form-control">
                                                    <option value="">Choisir Classe...</option>
                                                    {% for niveau in niveaux %}
                                                         <option value="{{niveau.id}}">{{niveau.nom}}</option>
                                                    {% else %}
                                                        <option value="">Tableau vide...</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!--/col -->
                                            <div class="col-md-2">
                                                <button class="btn btn-default" type="submit">Choisir</button>
                                            </div>
                                            <!--/col -->
                                        </div>
                                        <!--/row -->
                                    </form>
                                    <form action="" method="post">
                                        <hr>
                                            {# <tr>
                                                <th>Id</th>
                                                <th>Matiere</th>
                                            </tr> #}
                                                {% for epi in etudiants_pas_inscrits %}
                                            <tr>

                                                <td><input type="checkbox" name="etudiantId[]" id="" value="{{ epi.id }}"></td>

                                                <td>{{ epi.nom }}<input type="hidden" value="{{ epi.id }}" class="form-control form-check" name="etudiantName[]" id=""></td>
                                                
                                                {% endfor %}
                                                    
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <button name="enregistrer" class="btn btn-success form-control" type="submit">Enregistrer</button>
                                                </td>
                                            </tr>
                                            </form>

                                            </div>
                                        
                                    </div>
                                </table>
                                <!-- /.content-wrapper -->

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
