{% extends 'base.html.twig' %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div
					class="row">

					<!-- fix for small devices only -->
					<div class="clearfix hidden-md-up"></div>

					<div class="col-12 col-sm-6 col-md-3 offset-3">
						<div class="info-box mb-3">
							<a href="{{path('etudiants_ajout')}}" class="info-box-icon bg-primary elevation-1">
								<i class="fa fa-pen"></i>
							</a>

							<div class="info-box-content">
								<span class="info-box-text">Ajouter un</span>
								<span class="info-box-text">etudiant</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->

					<!-- fix for small devices only -->
					<div class="clearfix hidden-md-up"></div>

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<a href="{{path('etudiants_liste_Inscriptions')}}" class="info-box-icon bg-primary elevation-1">
								<i class="fa fa-th"></i>
							</a>

							<div class="info-box-content">
								<span class="info-box-text">Liste des</span>
								<span class="info-box-text">inscriptions</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-md-6 offset-3">
						<table class="table">
							<tr>
								<th>Inscription</th>
							</tr>
						</table>
					</div>
				</div>
				<!-- /row-->

				<div class="row">

					<div class="col-md-6 offset-3">
						<div class="card-body">

							<form action="" method="post">
								<select style="margin-left:1%;" type="text" name="etudiant" class="form-control" id="">
									{% for etudiant in etudiants %}
										<option value="{{etudiant.id}}">{{etudiant.nom}}
											{{etudiant.prenom}}
										</option>
									{% else %}
										<option value="">
											Aucune donnée récente !
										</option>
									{% endfor %}
								</select>
								<br>
								<select style="margin-left:1%;" type="text" name="filiere" class="form-control" id="">
									<option value="">Filiere</option>
									{% for filiere in filieres %}
										<option value="{{filiere.id}}">{{filiere.nom}}</option>

									{% endfor %}
								</select>
								<br>

								<select style="margin-left:1%;" type="text" name="niveau" class="form-control" id="">
									<option value="">Niveau</option>
									{% for niveau in niveaux %}
										<option value="{{niveau.id}}">{{niveau.nom}}</option>
									{% endfor %}
								</select>
								<br>
								<button type="submit" class="btn btn-success form-control">Valider</button>
								<form></div>
							</div>
							<!-- col -->

						</div>
						<!-- ./row -->

					</section>
					<!-- /.content -->
				</div>
				<!-- /.content-wrapper -->
			{% endblock %}
