{% extends 'base.html.twig' %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-primary elevation-1">
								<i class="fas fa-cog"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">CPU Traffic</span>
								<span class="info-box-number">
									10
									<small>%</small>
								</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="clearfix hidden-md-up"></div>

				</div>
				<!-- /.row -->

				<div class="row">
					<div class="col-md-12">
						<h5>Trier des inscriptions par filiere et par niveau</h5>
						<table class="table table-bordered">
							<div class="form-inline">
								<p>
									<form action="" method="post">
										Filiere : <select type="text" name="filiere" class="form-control" id="">
											<option value="">Toutes</option>
											{% for inc1 in filieres %}
												<option value="{{inc1.id}}">{{inc1.nom}}</option>
											{% endfor %}
										</select>
										Niveau : <select type="text" name="niveau" class="form-control" id="">
											<option value="">Tous</option>
											{% for niveau in niveaux %}
												<option value="{{niveau.id}}">{{niveau.nom}}</option>
											{% endfor %}
										</select>

										<button type="submit" class="btn btn-success">Valider</button>
									</form>
								</p>
							</div>

							<tr>
								<th>Nom</th>

								<th>Niveau</th>
								<th>Filiere</th>
							</tr>
							{% for inscription in inscriptions %}
								<tr>
									<td>{{inscription.etudiant.nom}}
										{{inscription.etudiant.prenom}}</td>
									<td>{{inscription.niveau.nom}}</td>
									<td>{{inscription.filiere.sigle}}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Liste vide !</td>
								</tr>
							{% endfor %}


						</table>
					</div>
					<!-- col -->
				</div>
				<!-- row -->

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	{% endblock %}
