{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3"></div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
                <div class="row">
					<div class="col-md-5">
						<div class="card">
						 <h3 class="card-title">Liste des semestres disponibles</h3>
							<div class="card-body table-responsive p-0" style="height: 390px;">
								<table class="table table-head-fixed text-nowrap">

									<tbody>
										<tr>
											<th style="width:3%;">ID</th>
											<th>Semestre</th>
											
										</tr>
										{% for semestre in semestres %}
											<tr>
												<td>
													{{ semestre.id }}</td>
												<td>
													<strong>{{ semestre.nom }}</strong>
													</td>
													{# <td>
														<a class="btn btn-info" href="{{ path('filieres_index',{id:filiere.id}) }}">Mettre à jour
															<i class="fa fa-edit"></i>
														</a>
														<a class="btn btn-warning" href="{{ path('filieres_suppression',{id:filiere.id}) }}">Supprimer
															<i class="fa fa-times"></i>
														</a>
													</td> #}
												</tr>
												{% else %}
												<tr>
													<td colspan="2">Liste vide !</td>
												</tr>
										{% endfor %}

									</tbody>
								</table>

							</div>
							<!-- /.card-body -->
						</div>
					</div>
                    
                    <div class="col-md-6">

                        <div class="card">
                            <div class="card-header">
								<form action="{{ path('semestres_nb') }}" method="post">
								<div class="form-inline">
									<input type="number" name="nb_row" class="form-control" placeholder="Nbre de semestres">
									<button type="submit" class="form-control">Ok</button>
								</div>
								</form>
                                
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 350px;">
                                <form action="{{ path('semestres_index') }}" method="post">
                                    <table class="table table-head-fixed text-nowrap">

                                        <tbody>
                                            <tr>
                                                <th>Semestre</th>
                                            </tr>

											{% for nb_row in nb_rows %}
                                            <tr>
                                                <th>
                                                    <input type="text" name="semestre{{nb_row}}" class="form-control" placeholder="Nom de la classe" id="">
												</th>
                                            </tr>
												
											{% endfor %}
												
											
                                        </tbody>
										<!-- /.tbody -->
                                    </table>
                                    <button type="submit" name="enregistrer" class="btn btn-success form-control offset-1 col-10">Enregistrer</button>
									<br><br>
                                </form>
                                <!-- /.form -->

								</div>
								<!-- /.card-body -->
                                </div>

                            </div>


                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->


                </div>
					
                <!-- /.row -->
            </div>

        </section>
    </div>
{% endblock %}
