{% extends 'base.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-th"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Nb niveaux</span>
                <span class="info-box-number">
                {{niveauxNb}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>
          
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-6">
            <div class="form-inline">
              <div class="card insert-filiere">

                <div class="card-body">
                  <form action="{{path('niveaux_ajoutEt_liste')}}" method="post">
                      <input type="text" name="nom_niv" class="form-control" placeholder="Nom du niveau" id="">
                      <button type="submit" class="btn btn-success">Valider</button>
                  </form>
                </div>
              
              </div>
            </div>
          </div>
          <!-- /.col niveau -->
        </div>
         <!-- /.row -->
        
        <div class="row">
          <div class="col-md-10">
            <h5 class='h5'> Liste des niveaux d'études <a class="btn btn-primary" href=""> Generer un fichier pdf <i class="fa fa-file"></i> </a> </h5>
            <table class="table table-bordered">
              <tr>
                  <th  style="width:3%;">ID</th>
                  <th>Niveaux</th>
                  <th  style="width:33%;">Action</th>
              </tr>
              {% for niveau in niveaux %}
              <tr>
                <td>{{niveau.id}}</td>
                  <td> {{niveau.nom}}
                  </td>
                  <td>
                  <a class="btn btn-info" href="{{path('niveaux_infos',{id:niveau.id})}}">Infos <i class="fa fa-eye"></i></a>
                   <a class="btn btn-warning" href="{{path('niveaux_suppression',{id:niveau.id})}}">Supprimer <i class="fa fa-times"></i></a>
                  </td>
              </tr>
              {% else %}
                  <tr>
                    <td colspan="2">Liste vide !</td>
                  </tr>
              {% endfor %}
            </table>
          </div>
          
        </div>
        <!-- /.col niveaux --> 
        </div>
            
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
