{{ form_start(form) }}


<div class="row">
    <div class="col-md-4 offset-2">

        <div class="form-group">

            <label for="">Etudiant</label>
            {{ form_widget(form.inscription) }}
            <label for="">Cours</label>
            {{ form_widget(form.Ue) }}
            <label for="">Moyenne</label>
            {{ form_widget(form.moyenne) }}
            <label for="">Semestre</label>
            {{ form_widget(form.semestre) }}


        </div>

    </div>

</div>

<a class="btn btn-info offset-2 col-md-2" href="{{ path('notes_etudiant_index') }}">Retour</a>
<button class="btn btn-primary col-md-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
