<link rel="stylesheet" href="template/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="template/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="template/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
           
<!-- Ionicons -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Gestion des notes, Cloud App.
                    <small class="float-right">Date: 2/10/2014</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    Nom: <strong>{{inscription.etudiant.nom}} {{inscription.etudiant.prenom}}</strong><br>
                    Matricule: <strong>Phie_ei_1950098</strong><br>
                    Telephone: <strong>655-10-24-53</strong><br>
                    Filiere: <strong>{{inscription.filiere.nom}}</strong><br>
					Classe: <strong>{{inscription.niveau.nom}}</strong><br>
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <address>
                    Année: <strong>2022-2023</strong><br>
                    Semestre: <strong>{{semestre.nom}}</strong><br>
					<img class="profile-user-img img-fluid img-circle"
					src="template\dist\img\megaplus.png" alt="Logo" size="20%" srcset="">
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  	Ministere de l'enseignement supperieur<br>
            		Paix-Travail=Patrie<br>
                    Telephone: <strong>655-45-78-53</strong><br>
                    Fax: <strong>245-678-098</strong><br>
					Email: <strong>minesup@gmail.com</strong><br>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table-success table-bordered" width='100%'>
                    <thead>
						<tr>
						<th>Matiere</th>
						<th>Note</th>
						</tr>
                    </thead>
                    <tbody>
						{% for note in notesUserFiliereNiveau %}
							<tr>
								<td>{{note.nomM}}</td>
								<td>{{note.moyenne}}</td>
							</tr>
						{% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">

                </div>
                <!-- /.col -->
                <div class="col-3 offset-3">
                  
                  <div class="table-responsive">
                    <table class="table-success table-bordered">
                      <tr>
                        <th style="width:50%">Total pts:</th>
                        <td>259/450</td>
                      </tr>
                      <tr>
                        <th>Credit(9.3%)</th>
                        <td>25</td>
                      </tr>
                      <tr>
                        <th>Moy:</th>
                        <td>12.67/20</td>
                      </tr>
                      <tr>
                        <th>Rang:</th>
                        <td>10e/54</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
				<br>
              <!-- this row will not appear when printing -->
              
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
