{% extends "base.html.twig" %}
{% block body %}
    <div class="content-wrapper">

        <div class="content col-8 offset-1">

            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-5">
                            <strong> Nom: </strong>{{inscription.etudiant.nom}} <br>
                            <strong> Prenom: </strong>{{inscription.etudiant.prenom}} <br>
                            <strong> Classe: </strong>{{inscription.niveau.nom}} <br>
                            <strong> Filiere: </strong>{{inscription.filiere.nom}} <br>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-head-fixed text-nowrap table-bordered">
                        <tr>
                            <td>Semestre</td>
                            <td>Matiere</td>
                            <td>Note</td>
                            <td>Credit</td>
                            <td>Total</td>
                        </tr>
                        {% for row in matieres %}
                            <tr>
                                <td>{{ row.semestre.nom }}</td>
                                <td>{{ row.ue.matiere.nom }}</td>
                                <td>{{ row.moyenne }}</td>
                                <td>3</td>
                                <td>50/60</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <!--card-body-->
            </div>
            <!--card-->
        </div>
        <!--section-->
    </div>

{% endblock %}
