{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <br>

                    <div class="row">
                        <div class="col-md-9 offset-1">
                            <div class="card ">
                                <h5 class="">Selectionnez la filiere, la classe, le semestre, et le cours ... <a href="{{path('notes_passerelleEtudiants')}}">Liste des notes</a> </h5>

                                <div class="card-body table-responsive p-0" style="height: 500px;">

                                    <table class="table table-head-fixed text-nowrap">
                                        <form action="{{ path('notes_choixFiliereNiveauxSemestreNc') }}" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select name="filiere" id="" class="form-control">
                                                        <option value="">Choisir Filiere...</option>
                                                        {% for filiere in filieres %}
                                                            <option value="{{ filiere.id }}">{{ filiere.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                <div class="col-md-3">
                                                    <select name="classe" id="" class="form-control">
                                                        <option value="">Choisir Classe...</option>
                                                        {% for classe in classes %}
                                                            <option value="{{ classe.id }}">{{ classe.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                <div class="col-md-3">
                                                    <select name="semestre" id="" class="form-control">
                                                        <option value="">Choisir Semestre...</option>
                                                        {% for semestre in semestres %}
                                                            <option value="{{ semestre.id }}">{{ semestre.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                <div class="col-md-2">
                                                    <button class="btn btn-default" type="submit">Choisir</button>
                                                </div>
                                                <!--/col -->
                                            </div>
                                            <!--/row -->
                                        </form>
                                        <br>
                                        {# <form action="{{ path('notes_sessionCours') }}" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select name="cours" id="" class="form-control">
                                                        <option value="">Choisir Cours...</option>
                                                        {% for cour in cours %}
                                                            <option value="{{ cour.id }}">{{ cour.matiere.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                
                                                <div class="col-md-2">
                                                    <button class="btn btn-default" type="submit">Choisir</button>
                                                </div>
                                                <!--/col -->
                                            </div>
                                            <!--/row -->
                                        </form> #}
                                    </table>

                                    <table class="table table-bordered">
                                        <tr>
                                            <td>T</td>
                                            <td>Etudiant</td>
                                            <td>T</td>
                                            <td>Matiere</td>
                                            <td>Note</td>
                                        
                                        </tr>
                                        <form method="post" action="{{path('notes_actionpasserelleNotes')}}">
                                            {% for item in etudiantsMatieres %}
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" name="inscription[]" value="{{item.idI}}" required checked>
                                                    </td>
                                                    <td>
                                                    {{item.nomE}} <input type="hidden" name="etudiant[]" value="{{item.idI}}">
                                                    </td>
                                                    <td>
                                                        <input type="checkbox" name="cours[]" value="{{item.idC}}" required checked>
                                                    </td>
                                                    <td>
                                                        {{item.nomM}}
                                                    </td>
                                                    <td>
                                                        <input type="text" name="moyenne[]" id="" class='form-control' placeholder='Moyenne' required>
                                                    </td>
                                                </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan='5'>Liste vide ...</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan='5'>
                                                    <div class="form-group">
                                                        <button type="submit" name='enregistrer' class='btn btn-success col-4 offset-4'>Enregistrer</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </form>
                                        
                                    </table>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
