{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <br>

                    <div class="row">
                        <div class="col-md-8 offset-1">
                            <div class="card ">
                                <h5 class="offset-2">Selectionnez la filiere, la classe, le semestre, et le cours ...</h5>

                                <div class="card-body table-responsive p-0" style="height: 400px;">

                                    <table class="table table-head-fixed text-nowrap">
                                        <form action="{{ path('notes_choixFiliereNiveauxSemestreN') }}" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select name="filiere" id="" class="form-control">
                                                        <option value="">Choisir Filiere...</option>
                                                        {% for filiere in filieres %}
                                                            <option value="{{ filiere.id }}">{{ filiere.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                <div class="col-md-3">
                                                    <select name="classe" id="" class="form-control">
                                                        <option value="">Choisir Classe...</option>
                                                        {% for classe in niveaux %}
                                                            <option value="{{ classe.id }}">{{ classe.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                <div class="col-md-3">
                                                    <select name="semestre" id="" class="form-control">
                                                        <option value="">Choisir Semestre...</option>
                                                        {% for semestre in semestres %}
                                                            <option value="{{ semestre.id }}">{{ semestre.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                <div class="col-md-2">
                                                    <button class="btn btn-default" type="submit">Choisir</button>
                                                </div>
                                                <!--/col -->
                                            </div>
                                            <!--/row -->
                                        </form>
                                        <br>
                                        <form action="{{ path('notes_sessionCours') }}" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select name="filiere" id="" class="form-control">
                                                        <option value="">Choisir Cours...</option>
                                                        {% for cour in cours %}
                                                            <option value="{{ cour.id }}">{{ cour.matiere.nom }}</option>
                                                        {% else %}
                                                            <option value="">Tableau vide...</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--/col -->
                                                
                                                <div class="col-md-2">
                                                    <button class="btn btn-default" type="submit">Choisir</button>
                                                </div>
                                                <!--/col -->
                                            </div>
                                            <!--/row -->
                                        </form>
                                    </table>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
