{% extends 'base.html.twig' %}

{% block title %}Semestre
{% endblock %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div
        class="content-wrapper">

        <!-- Main content -->
        <section class="content">
            <div
                class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1">
                                <i class="fas fa-th"></i>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-text">Nb semestre</span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->

                    <!-- fix for small devices only -->
                    <div class="clearfix hidden-md-up"></div>

                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-5">
                        <a class="btn btn-primary" href="{{ path('notes_etudiant_index') }}">Retour au menu</a>

                        <a class="btn btn-primary" href="{{ path('notes_etudiant_edit', {'id': notes_etudiant.id}) }}">Mettre à jour</a>

                    </div>

                </div>
                <br>
                    {{ include('notes_etudiant/_delete_form.html.twig') }}


                    <div class="row">
                        <div class="col-md-10">

                            <div class="card insert-filiere">

                                <div class="card-body">
                                    <table class="table">
                                        <thead></thead>
                                        <tbody>
                                            <tr>
                                                <th>Id</th>
                                                <th>Etudiant</th>
                                                <th>Filiere</th>
                                                <th>Classe</th>
                                                <th>Cours</th>
                                                <th>Moyenne</th>

                                                <th>Semestre</th>


                                            </tr>
                                            <tr>


                                                <td>{{ notes_etudiant.id }}</td>
                                                <td>{{ notes_etudiant.inscription.etudiant.nom }}</td>


                                                <td>
                                                    {{ notes_etudiant.inscription.filiere.nom }}
                                                </td>
                                                <td>
                                                    {{ notes_etudiant.inscription.niveau.nom }}
                                                </td>
                                                <td>
                                                    {{ notes_etudiant.ue.matiere.nom }}
                                                </td>
                                                <td>
                                                    {{ notes_etudiant.moyenne }}/20
                                                </td>
                                                <td>
                                                    {{ notes_etudiant.semestre.nom }}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                        <!-- /.col niveau -->
                    </div>
                    <!-- /.row -->

                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        {% endblock %}
