<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Cloud App!
            {% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle`
                and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

            <link
            rel="stylesheet" href="template/plugins/fontawesome-free/css/all.min.css">
            <!-- Ionicons -->
            <link
            rel="stylesheet" href="template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
            <!-- iCheck -->
            <link
            rel="stylesheet" href="template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
            <!-- JQVMap -->
            <link
            rel="stylesheet" href="template/plugins/jqvmap/jqvmap.min.css">
            <!-- Theme style -->
            <link
            rel="stylesheet" href="template/dist/css/adminlte.min.css">
            <!-- overlayScrollbars -->
            <link
            rel="stylesheet" href="template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
            <!-- Daterange picker -->
            <link
            rel="stylesheet" href="template/plugins/daterangepicker/daterangepicker.css">
            <!-- summernote -->
            <link rel="stylesheet" href="template/plugins/summernote/summernote-bs4.min.css">
            <style>

                .position {
                    .position: relative;
                    top: 150px;
                }
            </style>
        {% endblock %}


    </head>
    <body class="hold-transition sidebar-mini layout-fixed">

        <div class="wrapper">

            <!-- Navbar -->

            <!-- message d'alerte-->
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible container col-12" style="padding-left:20%;" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-check"></i> {{message}}</h5>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-warning alert-dismissible container col-12" style="padding-left:20%;" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> {{message}}</h5>
                </div>
            {% endfor %}
            {% for message in app.flashes('existe') %}
                <div class="alert alert-warning alert-dismissible container col-12" style="padding-left:20%;" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> {{message}}</h5>
                </div>
            {% endfor %}

            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside
                class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="index3.html" class="brand-link">
                    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">G-Université</span>
                </a>

                <!-- Sidebar -->
                <div
                    class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                    </div>

                    <!-- SidebarSearch Form -->
                    <div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul
                            class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                           with font-awesome or any other icon font library -->
                            <li class="nav-item menu-open">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-desktop"></i>
                                    <p>
                                        Config
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{{path("filieres_add")}}" class="nav-link">
                                            <i class="fa fa-book"></i>
                                            <p>Filières</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{path("niveaux_add")}}" class="nav-link">
                                            <i class="fa fa-home"></i>
                                            <p>Classes</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{path("matieres_add")}}" class="nav-link">
                                            <i class="fa fa-book-open"></i>
                                            <p>Matieres</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{path("semestres_add")}}" class="nav-link">
                                            <i class="fa fa-clock"></i>
                                            <p>Semestres</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{path("matieres_t")}}" class="nav-link">
                                            <i class="fa fa-book-open"></i>
                                            <p>Cours</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{path("etudiants_form_ajout")}}" class="nav-link">
                                            <i class="fa fa-user-friends"></i>
                                            <p>Etudiants</p>
                                        </a>
                                    </li>
                            
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{{path('notes_s')}}" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Notes
                                        <span class="right badge badge-success">Nouvelle</span>
                                    </p>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-search"></i>
                                    <p>
                                        Rechercher
                                        <i class="fas fa-angle-left right"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="pages/search/simple.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Simple Search</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pages/search/enhanced.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Enhanced</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

        </div>
        <!-- ./wrapper -->

        {% block body %}{% endblock %}
        <!-- Control Sidebar -->
        <aside
            class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </body>

</html>
<script src="template/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="template/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="template/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="template/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="template/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="template/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="template/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="template/plugins/moment/moment.min.js"></script>
<script src="template/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="template/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="template/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="template/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="template/dist/js/pages/dashboard.js"></script>
{% block javascripts %}{% endblock %}</html></li>
