{% extends 'base.html.twig' %}

{% block title %}Choix filiere etudiant
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				
				<div class="row">
					<div class="col-md-8 offset-1 position">
						<form action="{{path('notes_etudiants_choixEtudiant_notes')}}" method="post">
							<table class="table">
								<tr>
									<th style="width:12%;">Etudiant</th>
									<th>
										<select class="form-control" type="text" name="inscription" id="">
											{% for inscription in inscriptions %}
												<option value="{{inscription.id}}">{{inscription.etudiant.nom}} {{inscription.etudiant.prenom}}</option>
											{% else %}
												<option value="">Liste vide</option>
											{% endfor %}
										</select>
									</th>
									
								</tr>

							</table>

					</p>
				</div>
				<!-- ./col -->

			</div>
			<!-- ./row -->

			<div class="row">
				<div class="col offset-3 position">
					<div class="form-group">
					<a href="{{path('notes_etudiants_filiereEtNiveau_etudiant')}}" class="btn btn-primary">Retour</a>
						<button type="submit" style="width:190px;" class="btn btn-primary">Choisir</button>
					</div>
				</form>
			</div>

		</div>
		<!--/row-->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->{% endblock %}
