{% extends 'base.html.twig' %}

{% block title %}Choix filiere etudiant
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				
				<div class="row">
					<div class="col-md-8 offset-1 position">
						<p class='h5'>Veuillez choisir la filiere et le niveau de l'etudiant à noter :
							<form action="{{path('filiere_niveau_etudiant')}}" method="post">
								<table class="table">
									<tr>
										<th>Filiere</th>
										<th>Niveau</th>
									</tr>

									<tr>
										<td>
											<select type="text" name="filiere" class="form-control" id="filiere">

												{% for filiere in filieres %}
													<option value="{{filiere.id}}">{{filiere.nom}}</option>
												{% else %}
													<option value="">Liste vide !</option>
												{% endfor %}
											</select>
										</td>

										<td>
											<select type="text" name="niveau" class="form-control" id="niveau">

												{% for niveau in niveaux %}
													<option value="{{niveau.id}}">{{niveau.nom}}</option>
												{% else %}
													<option value="">Liste vide !</option>
												{% endfor %}
											</select>
										</td>

										{# <td>
																					<button type="submit" class="btn btn-success">Choisir</button>
																				</td> #}
									</tr>

								</table>

								{# </form> #}
							</p>
						</p>
					</div>
					<!-- ./col -->

				</div>
				<!-- ./row -->

				<div class="row">
					<div class="col offset-3 position">
						<div class="form-group">
							<button type="submit" style="width:190px;" class="btn btn-success">Choisir</button>
						</div>
					</form>
				</div>

			</div>
			<!--/row-->


		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock %}
