{% extends 'base.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Nb etudiants</span>
                <span class="info-box-number">
               {{nbEtudiants}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
         
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
              <a href="{{path('creation_etudiants')}}"  class="btn btn-primary">Ajouter des etudiants <i class="fa fa-plus"></i></a> 
              <a href="{{path('inscription_etudiants')}}"  class="btn btn-primary">Inscrire des etudiants <i class="fa fa-pen"></i></a> 
                <a href="{{path('ajout_notes')}}"  class="btn btn-primary">Noter des etudiants <i class="fa fa-pen"></i></a> 
              <a href="{{path('liste_inscriptions_etudiants')}}"  class="btn btn-primary">Imprimer des inscriptions <i class="fa fa-users"></i></a> 
              <table class="table table-bordered">

                </p>
             
                  <tr>
                      <th>ID</th>
                      <th style="width:7%;">Action</th>
                      <th>Etudiants</th>
                      <th>Filieres</th>
                      <th>Niveaux d'etude</th>
                  </tr>
                  {% for etudiant in etudiants %}
                  <tr>
                      <td style="width:2%;">{{etudiant.id}}</td>
                      <td>
                      <a href="{{path('suppression_etudiant',{id:etudiant.id})}}"  class="btn btn-warning"><i class="fa fa-times"></i></a>
              
                      </td>
                      <td>{{etudiant.nom}}  {{etudiant.prenom}}
                      <br>
                      <small><strong>Sexe :</strong></small> 
                      {{etudiant.sexe}}
                      </td>
                      {% if etudiant.filiere and etudiant.niveau  %}
                      <td>
                        {{etudiant.filiere}}
                      </td>
                      <td>
                          {{etudiant.niveau}}
                      </td>
                      {% else %}
                        <td colspan="2">
                         <span class="btn btn-primary  offset-2"> Pas inscrit</span>
                        </td>
                      {% endif %}
                  </tr>
                  {% else %}
                  <tr>
                    <td colspan="5">Aucune donnée recente !</td>
                  </tr>
                  {% endfor %}
              
              </table>
          </div>
          <!-- col -->
        </div>
        <!-- row -->

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

{% block javascripts %}
  <script src=""></script>
{% endblock %}


