{% extends 'base.html.twig' %}

{% block title %}UniversgController!{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Nb etudiants</span>
                <span class="info-box-number">
                  <strong>350</strong>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('creation_etudiants')}}" class="info-box-icon bg-primary elevation-1"><i class="fas fa-plus"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Ajouter un </span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('liste_inscriptions_etudiants')}}" class="info-box-icon bg-primary elevation-1"><i class="fa fa-table"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Liste des</span>
                <span class="info-box-text">inscriptions</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
              <table class="table table-bordered">
              {# <div class="form-inline">
                  <p>Trier par :
                  <form action="{{path('etudiant')}}" method="post">
                    <select type="text" name="filiere" class="form-control" id="">
                      <option value="">Filiere</option>
                      {% for filiere in filieres %}
                      <option value="{{filiere.id}}">{{filiere.sigle}}</option>
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-success">Valider</button>
                  </form>
                  
              </div> #}

              </p>
                  <tr>
                      <th>ID</th>
                      <th>Action</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Sexe</th>
                  </tr>
                  {% for etudiant in etudiants %}
                  <tr>
                      <td>{{etudiant.id}}</td>
                      <td>
                      <a href="{{path('suppression_etudiant',{id:etudiant.id})}}"  class="btn btn-warning">Supprimer <i class="fa fa-times"></i></a>
                      <a href="{{path('inscription_etudiants',{id:etudiant.id})}}"  class="btn btn-info">Inscrire <i class="fa fa-pen"></i></a>
                      </td>
                      <td>{{etudiant.nom}}</td>
                      <td>{{etudiant.prenom}}</td>
                      <td>{{etudiant.sexe}}</td>
                  </tr>
                  {% else %}
                  <tr>
                    <td colspan="5">Désolé, ce tableau est vide pour le moment !</td>
                  </tr>
                  {% endfor %}
              
              </table>
          </div>
          <!-- col -->
        </div>
        <!-- row -->

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
