{% extends 'base.html.twig' %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-users"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Nb inscriptions</span>
								<span class="info-box-number">
									{{inscriptionsNb}}
								</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-th"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Nb filieres</span>
								<span class="info-box-number">
									{{filieresNb}}
								</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-th"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Nb niveaux</span>
								<span class="info-box-number">
									{{niveauxNb}}
								</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1">
								<i class="fas fa-th"></i>
							</span>

							<div class="info-box-content">
								<span class="info-box-text">Nb matieres</span>
								<span class="info-box-number">
									{{matieresNb}}
								</span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

				<div class="row">
					<div class="col-md-12">
						<h5 class='h5'>Liste des Etudiants inscris  <a class="btn btn-primary" href=""> Generer un fichier pdf <i class="fa fa-file"></i> </a> </h5>
						<table class="table table-bordered">

							<tr>
              <th>ID</th>
								<th>Nom</th>
								<th>Niveau</th>
								<th>Filiere</th>
							</tr>
							{% for inscription in inscriptions %}
								<tr>

									<td>{{inscription.id}}</td>
									<td>{{inscription.etudiant.nom}}
										{{inscription.etudiant.prenom}}</td>
									<td>{{inscription.niveau.nom}}</td>
									<td>{{inscription.filiere.sigle}}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">Liste vide !</td>
								</tr>
							{% endfor %}


						</table>
					</div>
					<!-- col -->
				</div>
				<!-- row -->


			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	{% endblock %}
