{% extends 'layout/layout.html.twig' %}

{% block title %}UniversgController!{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Nb etudiants</span>
                <span class="info-box-number">
                  <strong>30</strong>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          
          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('create')}}" class="info-box-icon bg-primary elevation-1"><i class="fa fa-pen"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Ajouter un</span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          
          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('etudiants_niveau')}}" class="info-box-icon bg-primary elevation-1"><i class="fa fa-table"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Liste des</span>
                <span class="info-box-text">inscriptions</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-6 offset-2">
          <table class="table">
            <tr>
              <th>Inscription</th>
              </tr>
          </table>
          </div>
        </div>
        <!-- /row-->

        <div class="row">
        
          <div class="col-md-6 offset-2">
            <table class="table table-bordered">

                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Filiere</th>
                </tr>
                <tr>
                    <td>{{etudiant.nom}}</td>
                    <td>{{etudiant.prenom}}</td>
                     <td>{{etudiant.sexe}}</td>
                    <td>{{etudiant.filiere.sigle}}</td>
                </tr>
            </table>
          </div>
          <!-- col -->
        
        </div>
        <!-- ./row -->

          <div class="row">
            <div class="col-md-6 offset-2">
              <div class="form-group">
                <div class="card insert-filiere">
                  <div class="card-body">
                  
                    <form action="{{path('inscription',{id:etudiant.id})}}" method="post">
                      <select style="margin-left:1%;" type="text" name="niveau" class="form-control" id="">
                        <option value="">Selectionner le niveau</option>
                        {% for niveau in niveaux %}
                        <option value="{{niveau.id}}">{{niveau.nom}}</option>
                        {% endfor %}
                      </select>
                      <br>
                     <button type="submit" class="btn btn-success form-control">Valider</button>
                  </div>  
                
                </div>
              </div>
              <!--/col--> 
            </div>
          </div>
          <!-- /row -->
        
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
