{% extends 'base.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Nb matieres</span>
                <span class="info-box-number">
                  {{matieres|length}}
                 
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-6">
            <div class="form-inline">
              <div class="card insert-filiere">

                <div class="card-body">
                  <form action="" method="post">
                      <input type="text" name="nom_mat" class="form-control" placeholder="Nom de la matiere" id="">
                      <button type="submit" class="btn btn-success">Valider</button>
                  </form>
                </div>
              
              </div>
            </div>
          </div>
          <!-- /.col niveau -->
        </div>
         <!-- /.row -->
        
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                  <th>Matieres  <a class="btn btn-info" href="{{path('ue')}}">Unites d'enseignement</a></th>
                  <th>Actions</th>
              </tr>
              {% for matiere in matieres %}
              <tr>
                  <td>{{matiere.nom}}</td>
                  <td>
                    <a class="btn btn-info" href="{{path('transfert_matiere',{id:matiere.id})}}">transferer</a>
                    <a class="btn btn-warning" href="{{path('matiere_edit',{id:matiere.id})}}">modifier</a>
                    <a class="btn btn-info" href="{{path('suppression_matiere',{id:matiere.id})}}">consulter <i class="fa fa-book"></i></a>
                    <a class="btn btn-warning" href="{{path('suppression_matiere',{id:matiere.id})}}">supprimer <i class="fa fa-times"></i></a>
                  </td>
              </tr>
              {% else %}
                  <tr>
                    <td colspan="5">Désolé, ce tableau est vide pour le moment !</td>
                  </tr>
              {% endfor %}
            </table>
          </div>
          
        </div>
        <!-- /.col niveaux --> 
        </div>
            
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
