{% extends 'layout/layout.html.twig' %}

{% block title %}UniversgController!{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('create')}}" class="info-box-icon bg-primary elevation-1"><i class="fas fa-plus"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Ajouter un </span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          {# <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('inscription')}}" class="info-box-icon bg-primary elevation-1"><i class="fa fa-pen"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Inscrire un</span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div> #}
          <!-- /.col -->
          
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
          <h5>Liste des inscriptions</h5>
              <table class="table table-bordered">
                <div class="form-inline">
                    <p>Trier par :
                    <form action="{{path('etudiant')}}" method="post">
                      <select type="text" name="filiere" class="form-control" id="">
                        <option value="">Filiere</option>
                        {% for inc1 in inc %}
                        <option value="{{inc1.etudiant.filiere.sigle}}">{{inc1.etudiant.filiere.sigle}}</option>
                        {% endfor %}
                      </select>
                      <select type="text" name="filiere" class="form-control" id="">
                        <option value="">niveau</option>
                        {% for inc1 in inc %}
                        <option value="{{inc1.niveau.nom}}">{{inc1.niveau.nom}}</option>
                        {% endfor %}
                      </select>
                      <button type="submit" class="btn btn-success">Valider</button>
                    </form>
                    
                  </div>
              
                  <tr>
                      <th>Date</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Niveau</th>
                      <th>Filiere</th>
                  </tr>
                  {% for inc1 in inc %}
                  <tr>
                      <td>{{inc1.createdAt|date("d/m/Y")}}</td>
                      <td>{{inc1.etudiant.nom}}</td>
                      <td>{{inc1.etudiant.prenom}}</td>
                      <td>{{inc1.niveau.nom}}</td>
                      <td>{{inc1.etudiant.filiere.sigle}}</td>
                  </tr>
                  {% endfor %}

              
              </table>
          </div>
          <!-- col -->
        </div>
        <!-- row -->

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
