{% extends 'base.html.twig' %}

{% block title %}UniversgController!{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-table"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Nb niveaux</span>
                <span class="info-box-number">
                {{niveauxsNb|length}}
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>
          
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-6">
            <div class="form-inline">
              <div class="card insert-filiere">

                <div class="card-body">
                  <form action="" method="post">
                      <input type="text" name="nom_niv" class="form-control" placeholder="Nom du niveau" id="">
                      <button type="submit" class="btn btn-success">Valider</button>
                  </form>
                </div>
              
              </div>
            </div>
          </div>
          <!-- /.col niveau -->
        </div>
         <!-- /.row -->
        
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                  <th>Niveaux</th>
                  <th>Action</th>
              </tr>
              {% for niveau in niveaux %}
              <tr>
                  <td>
                   Niveau {{niveau.id}} <br>
                  <i><strong> {{niveau.nom}}</strong></i>
                  </td>
                  <td>
                  <a class="btn btn-info" href="{{path('consultation_niveau',{id:niveau.id})}}">Consulter <i class="fa fa-eye"></i></a>
                   <a class="btn btn-warning" href="{{path('suppression_niveau',{id:niveau.id})}}">Supprimer <i class="fa fa-times"></i></a>
                  </td>
              </tr>
              {% else %}
                  <tr>
                    <td colspan="2">Désolé, ce tableau est vide pour le moment !</td>
                  </tr>
              {% endfor %}
            </table>
          </div>
          
        </div>
        <!-- /.col niveaux --> 
        </div>
            
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
