{% extends 'layout/layout.html.twig' %}

{% block title %}UniversgController!{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('creation_etudiants')}}" class="info-box-icon bg-primary elevation-1"><i class="fas fa-plus"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Ajouter un </span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>
          
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-book"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Noter un</span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
          <h5>Liste des unites d'enseignement</h5>
              <table class="table table-bordered">
                  <div class="form-inline">
                    <p>Trier par :
                    <form action="{{path('ue')}}" method="post">
                      <select type="text" name="filiere" class="form-control" id="">
                        <option value="">Filiere</option>
                        {% for ues1 in filieres %}
                        <option value="{{ues1.id}}">{{ues1.sigle}}</option>
                        {% endfor %}
                      </select>
                      <select type="text" name="niveau" class="form-control" id="">
                        <option value="">niveau</option>
                        {% for ues1 in niveaux %}
                        <option value="{{ues1.id}}">{{ues1.nom}}</option>
                        {% endfor %}
                      </select>
                      <button type="submit" class="btn btn-success">Valider</button>
                    </form>
                    
                  </div>
              
                  <tr>
                    <th>Actions</th>
                    <th>Matiere</th>
                    <th>Fifliere</th>
                    <th>Niveau</th>
                  </tr>
                  {% for inc1 in recherche %}
                  <tr>
                    <td>
                      <a class="btn btn-info" href="{{path('transfert_matiere',{id:inc1.id})}}">modifier <i class="fa fa-edit"></i></a>
                      <a class="btn btn-warning" href="{{path('suppression_matiere',{id:inc1.id})}}">supprimer <i class="fa fa-times"></i></a>
                    </td>
                      <td>{{inc1.matiere.nom}}</td>
                      <td>{{inc1.filiere.sigle}}</td>
                      <td>{{inc1.niveau.nom}}</td>
                  </tr>
                  {% else %}
                  <tr>
                    <td colspan="4">Désolé, ce tableau est vide pour le moment !</td>
                  </tr>
                  {% endfor %}

              
              </table>
          </div>
          <!-- col -->
        </div>
        <!-- row -->

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
