{% extends 'layout/layout.html.twig' %}

{% block title %}UniversgController!{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">CPU Traffic</span>
                <span class="info-box-number">
                  10
                  <small>%</small>
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('create')}}" class="info-box-icon bg-primary elevation-1"><i class="fas fa-plus"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Ajouter un </span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <a href="{{path('inscription')}}" class="info-box-icon bg-primary elevation-1"><i class="fa fa-pen"></i></a>

              <div class="info-box-content">
                <span class="info-box-text">Inscrire un</span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-book"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Noter un</span>
                <span class="info-box-text">etudiant</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
          <h5>Liste des unites d'enseignement</h5>
              <table class="table table-bordered">
              
                  <tr>
                      <th>Matiere</th>
                      <th>Fifliere</th>
                      <th>Niveau</th>
                  </tr>
                  {% for inc1 in ues %}
                  <tr>
                      <td>{{inc1.matiere.nom}}</td>
                      <td>{{inc1.filiere.sigle}}</td>
                      <td>{{inc1.niveau.nom}}</td>
                  </tr>
                  {% endfor %}

              
              </table>
          </div>
          <!-- col -->
        </div>
        <!-- row -->

    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
