{% extends 'base.html.twig' %}

{% block title %}UniversgController!
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div class="row">

					<div class="col-12 ">
						<br>
						<h5 class="h5">
							<a class="btn btn-primary" href="">
								Generer un fichier pdf
								<i class="fa fa-file"></i>
							</a>
							
						</h5>
					</div>
					<!-- /.col -->

				</div>
				<!-- /.row -->

				<div class="row">
					<div class="col-md-12">
						<h5>Liste des cours</h5>
						<table class="table table-bordered">

							<tr>
								<th style="width:28%;">Actions</th>
								<th>Matiere</th>
								<th>Filiere</th>
								<th>Classe</th>
								<th>Semestre</th>
							</tr>
							{% for matiere in uesUserFiliereNiveau %}
								<tr>
									<td>
										<a class="btn btn-info" href="{{path('matieres_transfert',{id:matiere.id})}}">mettre à jour
											<i class="fa fa-edit"></i>
										</a>
										<a class="btn btn-warning" href="{{path('matieres_ue_suppression',{id:matiere.id})}}">supprimer
											<i class="fa fa-times"></i>
										</a>
									</td>
									<td>{{matiere.matiere.nom}}</td>
									<td>{{matiere.filiere.sigle}}</td>
									<td>{{matiere.niveau.nom}}</td>
									<td>{{matiere.semestre.nom}}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">Liste vide !</td>
								</tr>
							{% endfor %}


						</table>
					</div>
					<!-- col -->
				</div>
				<!-- row -->

			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	{% endblock %}
