{% extends 'base.html.twig' %}

{% block title %}UniversgController!
{% endblock %}

{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">

		<!-- Main content -->
		<section class="content">
			<div
				class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-12 col-sm-6 col-md-3 offset-2">
						<br>
						<h5 class="h5">
						<a href="{{path('matieres_choix_filiereEtNiveauUes_liste')}}" class="btn btn-primary">
						Liste des Ues
						<i class="fa fa-th"></i>
						 </a>
						
						</h5>
					</div>
					<!-- /.col -->
					
				</div>
				<!-- /.row -->
					<form action="{{path('matieres_transfert')}}" method="post">
				

				<div class="row">
					<div class="col-md-8 offset-1">
						<table class="table table-bordered"></p>

						<tr>
							<th>Matieres</th>

							<th>Credit</th>
						</tr>

						<tr>
							{# <form method="post" action="{{path('transfert_matiere')}}"> #}
								<td>
									<select type="text" name="ue" class="form-control" id="">

										{% for matiere in matieres %}
											<option value="{{matiere.id}}">{{matiere.nom}}</option>
										{% else %}
											<option value="">Liste vide</option>
										{% endfor %}
									</select>
								</td>

								<td>

									<input type="number" name="credit" id="" class="form-control" placeholder="coefficient de la matiere.."></td>

							</td>
						</tr>

					</table>

				</div>
				<!-- /col -->

			</div>
			<!-- /.row -->

			<div class="row">
				<div class="col offset-3">
					<div class="form-group">
						<a href="{{path('matieres_choix_filiereEtNiveau_Ue')}}" class="btn btn-primary">Retour</a>
						<button type="submit" style="width:190px;" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>

		</div>
		<!--/row-->


	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->{% endblock %}
